<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="s1" verbose="1">
    <listeners>
        <listener class-name="com.webtest.core.WebTestListener"/>
    </listeners>
    <test name="lh">
        <classes>
            <class name="com.webtest.lhdemo.Section_Management"/>
            <class name="com.webtest.lhdemo.Point_Management"/>
        </classes>
    </test>

</suite>
